<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denah Parkir Interaktif</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1 class="title">Smart Parking</h1>
    <div class="parking-map">
        <img src="../static/images/Denah.png" alt="Denah Parkir" class="background-map">

        <!-- Tambahkan slot parkir di sini -->
        <div class="slot slot1"><span class="text">1</span></div>
        <div class="slot slot2"><span class="text">2</span></div>
        <div class="slot slot3"><span class="text">3</span></div>
        <div class="slot slot4"><span class="text">4</span></div>
        <div class="slot slot5"><span class="text">5</span></div>
        <div class="slot slot6"><span class="text">6</span></div>

        <div class="slot mid-slot slot7"><span class="text">7</span></div>
        <div class="slot mid-slot slot8"><span class="text">8</span></div>
        <div class="slot mid-slot slot9"><span class="text">9</span></div>
        <div class="slot mid-slot slot10"><span class="text">10</span></div>
        <div class="slot mid-slot slot11"><span class="text">11</span></div>

        <div class="slot slot12"><span class="text">12</span></div>
        <div class="slot slot13"><span class="text">13</span></div>
        <div class="slot slot14"><span class="text">14</span></div>
        <div class="slot slot15"><span class="text">15</span></div>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
